<a href="javascript: void(0);"><i class="material-icons" (click)="crearEmpresa()">add</i></a>



<div class="container">
  <div class="input-field col s6">
    <label class="active">Fecha Inicio </label>
    <input [(ngModel)]="empresa.fecha" type="text" id="fechaEmpresa" #fechaD
    (change)="actualizarFecha(fechaD.value)" class="datepicker">
  </div>

  <div class="input-field col s6">
    <label class="active">Fecha Fin </label>
    <input [(ngModel)]="empresa.fecha" type="text" id="fechaEmpresa" #fechaD
    (change)="actualizarFecha(fechaD.value)" class="datepicker">
  </div>


  <table class="default" *ngIf="empresas != undefined">
    <tr *ngFor="let empresa of empresas">
    <td>{{empresa.nombre_empresa}}</td>
    <td>{{empresa.direccion}}</td>
    <td>{{empresa.fecha}}</td>
    <td><a href="javascript: void(0);" class="space" (click)="actualizarEmpresa(empresa.id_empresa)">
      <i class="material-icons">edit</i></a></td>
      <td><a href="javascript: void(0);" class="material-icons" (click)="eliminarEmpresa(empresa.id_empresa)">
        <i class="material-icons">delete_forever</i></a></td>
      </tr>
  </table>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15205.02195350417!2d-97.5651446!3d17.6853869!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c611b45661c56b%3A0xef3a0af052e11416!2sBalneario%20Atonaltzin!5e0!3m2!1ses-419!2smx!4v1706283514192!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="modalModificarEmpresa" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Actualizar Empresa</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_empresa">Nombre </label>
          <input id="nombre_empresa" [(ngModel)]="empresa.nombre_empresa" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Dirección </label>
          <input [(ngModel)]="empresa.direccion" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Fecha </label>
          <input [(ngModel)]="empresa.fecha" type="text" id="fechaEmpresa" #fechaD
          (change)="actualizarFecha(fechaD.value)" class="datepicker">
        </div>
        <div class="input-field col s6">
          <label class="active">Telefono </label>
          <input [(ngModel)]="empresa.telefono" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">RFC </label>
          <input [(ngModel)]="empresa.rfc" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarActualizarEmpresa()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearEmpresa" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Actualizar Empresa</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_empresa">Nombre </label>
          <input id="nombre_empresa" [(ngModel)]="empresaNueva.nombre_empresa" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Dirección </label>
          <input [(ngModel)]="empresaNueva.direccion" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Telefono </label>
          <input [(ngModel)]="empresaNueva.telefono" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">RFC </label>
          <input [(ngModel)]="empresaNueva.rfc" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarNuevaEmpresa()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>