<footer class="page-footer">
    <div class="container" style="display: flex; align-items: center;">
        <div style="flex: 1;">
            {{ "© 2024 Texto de Derechos Reservados" | translate }}
        </div>
        <div class="col s2" style="display: flex; align-items: center;">
            {{ "Siguenos en" | translate }}
        </div>
        <div class="col s2" style="display: flex; align-items: flex-start; justify-content: flex-end; margin-top: 5px;">
            <a class="grey-text text-lighten-4" style="margin-left: 5px;">
                <img id="imagenes" src="../../../assets/1_Imagenes/x.png" alt="X" style="width: 20px; height: 20px;">
            </a>
            <a class="grey-text text-lighten-4" style="margin-left: 5px;">
                <img id="imagenes" src="../../../assets/1_Imagenes/fb.png" alt="Facebook" style="width: 20px; height: 20px;">
            </a>
        </div>
    </div>
</footer>
