
.asignar{
    color: rgb(153, 62, 62);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    size: 15px;
}
.custom-image-size {
    width: 50%;
    height: 50%;
}