<div class="container">
    <div class="row">

        <div class="col s4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img class="col s12" src="{{liga}}" alt="{{liga}}">
        </div>

        <div class="col s8" *ngIf="flag != 0">
            <label style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: black;">
                <h2>{{"Información de Usuario" | translate}}</h2>
                <br>
            </label>

            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input [(ngModel)]="usuario.nombre" type="text" id="nombre" disabled>
                <label for="nombre" class="active">{{"Nombre" | translate}}</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input [(ngModel)]="usuario.correo" type="email" id="correo" name="correo" disabled>
                <label for="correo" class="active">{{"Correo electrónico" | translate}}</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input [(ngModel)]="usuario.telefono" type="tel" id="telefono" name="telefono" pattern="[0-9]{10}"
                    disabled>
                <label for="telefono" class="active">{{"Teléfono (10 dígitos)" | translate}}</label>
            </div>

            <div class="row">
                <div class="col s4 center">
                    <a (click)="modificarUsuario(usuario.id)" class="waves-effect btn-large  lighten-1 white-text modal-close">
                        <i class="material-icons left">send</i>
                        <span style="font-size: 13px;">{{"Actualizar datos" | translate}}</span>
                    </a>
                </div>

                <div class="col s4 center">
                    <button (click)="eliminar()" class="modal-action modal-close waves-effect btn-large red  white-text">
                        <i class="material-icons left">delete</i>
                        {{"Eliminar" | translate}}
                    </button>
                </div>

                <div class="col s4 center">
                    <a (click)="mostrarImagen()" href="javascript:void(0);" class="modal-action modal-close waves-effect btn-large blue white-text">
                        <i class="material-icons left">image</i>
                        <span style="font-size: 13px;">{{"Actualizar imagen" | translate}}</span>
                    </a>
                </div>
                
            </div>
        </div>

    </div>
</div>


<div id="modalContra" class="modal">
    <div class="modal-content">
        <div class="col s12 m6">
            <!-- Contenido del div de nuevo -->
            <div class="card">
                <div class="card-content">
                    <div class="container center">
                        <h2>{{"Modificar Contraseña" | translate}} </h2>
                        <form id="contraForm">
                            <div class="input-field">
                                <i class="material-icons prefix">key</i>
                                <input [(ngModel)]="contra1" type="password" required id="contra1">
                                <label for="contra1">{{"Contraseña actual" | translate}}</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">key</i>
                                <input [(ngModel)]="contra2" type="password" required id="contra2">
                                <label for="contra2">{{"Contraseña actual" | translate}}</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">key</i>
                                <input [(ngModel)]="newContra" type="password" required id="contraNueva">
                                <label for="contraNueva">{{"Nueva Contraseña" | translate}}</label>
                            </div>

                            <div class="row">
                                <div class="col s6 center">
                                    <a (click)="cambiaContra()">
                                        <button class="waves-effect btn-large red lighten-1 white-text modal-close"
                                            type="submit">
                                            {{"Registrar" | translate}}
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </a>
                                </div>

                                <div class="col s6 center">
                                    <button
                                        class="modal-action modal-close waves-effect btn-large red lighten-1 white-text"
                                        type="submit">{{"Cancelar" | translate}}
                                        <i class="material-icons right">cancel</i>
                                    </button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalActualiza" class="modal">
    <div class="modal-content">
        <div class="col s12 m6">
            <!-- Contenido del div de nuevo -->
            <div class="card">
                <div class="card-content">
                    <div class="container center">
                        <h2>{{"Actualización de datos" | translate}}</h2>
                        <form id="registroForm">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input [(ngModel)]="actualizaUsuario.nombre" type="text" id="nombreNuevo"
                                    name="nombreNuevo" required>
                                <label for="nombreNuevo" class="active">{{"Nombre" | translate}}</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input [(ngModel)]="actualizaUsuario.correo" type="email" id="correoNuevo"
                                    name="correoNuevo" required>
                                <label for="correoNuevo" class="active">{{"Correo electrónico" | translate}}</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">phone</i>
                                <input [(ngModel)]="actualizaUsuario.telefono" type="tel" id="telefonoNuevo"
                                    name="telefonoNuevo" pattern="[0-9]{10}" required>
                                <label for="telefonoNuevo" class="active">{{"Teléfono (10 dígitos)" |
                                    translate}}</label>
                            </div>

                            <div class="row">
                                <div class="col s6 center">
                                    <a (click)="cambiaUsuario()">
                                        <button class="waves-effect btn-large red lighten-1 white-text modal-close"
                                            type="submit">
                                            {{"Registrar" | translate}}
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </a>
                                </div>

                                <div class="col s6 center">
                                    <button
                                        class="modal-action modal-close waves-effect btn-large red lighten-1 white-text"
                                        type="submit">{{"Cancelar" | translate}}
                                        <i class="material-icons right">cancel</i>
                                    </button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Imagen" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h5 class="center">{{"Imagen" | translate}}</h5>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="input-field col s12">

                    <div align="center">
                        <img *ngIf="usuario.img === 1" width="64" src="{{liga}}" alt="{{liga}}">
                    </div>
                </div>

                <div class="input-field col s6">
                    <label>{{"Imagen" | translate}}</label>
                    <br><br>
                    <input type="file" (change)="cargandoImagen($event.target)" multiple>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <a class="waves-effect btn-large brown lighten-3 black-text modal-close"
                        (click)="ActualizaImagen()">{{"Enviar" | translate}}</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large brown lighten-3
    black-text">{{"Cancelar" | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>