.usuarios-sistema {
    text-align: center; /* Alinear el contenido al centro */
    margin-top: 40px; /* Espacio superior */
    font-family: 'Impact'; /* Cambiar la familia de fuentes */
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
}