<a href="javascript: void(0);"><i class="material-icons" (click)="crearUsuario()">add</i></a>


<table class="default" *ngIf="usuarios != undefined">
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.nombre}}</td>
    <td>{{usuario.correo}}</td>
    <td><a href="javascript: void(0);" class="space" (click)="actualizarUsuario(usuario.id)">
        <i class="material-icons">edit</i></a></td>
    <td><a href="javascript: void(0);" class="material-icons" (click)="eliminarUsuario(usuario.id)">
        <i class="material-icons">delete_forever</i></a></td>
  </tr>
</table>
<div id="modalModificarUsuario" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Actualizar Usuario</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">Nombre </label>
          <input id="nombre_usuario" [(ngModel)]="usuario.nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Correo </label>
          <input [(ngModel)]="usuario.correo" type="text" class="validate">
        </div>
        <div class="row col s12">
          <label class="active">Rol</label>
            <select [(ngModel)]='usuario.id_Rol' class="browser-default"> <!-- broser-default porque es un arreglo-->
              <option *ngFor="let rol of roles" [value]="rol.id_rol"> <!--Para poner el valor de cada elemento del arreglo-->
                {{rol.nombre_rol}}
              </option>
            </select>
        </div>
        <div class="input-field col s6">
          <label class="active">Password </label>
          <input [(ngModel)]="usuario.contrasena" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarActualizarUsuario()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearUsuario" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Crear Usuario</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">Nombre </label>
          <input id="nombre_usuario" [(ngModel)]="usuarioNuevo.nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Correo </label>
          <input [(ngModel)]="usuarioNuevo.correo" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Id Rol </label>
          <input [(ngModel)]="usuarioNuevo.id_Rol" type="number" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Password </label>
          <input [(ngModel)]="usuarioNuevo.contrasena" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarNuevoUsuario()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>
