<div class="row">
  <div class="col m6 offset-m4">
    <h5>Agregar usuario

      <a class="btn-floating btn-large red lighten-1 white-tex" (click)="nuevoUsuario()">
        <i class="material-icons">add</i>
      </a>

    </h5>
  </div>
</div>
<div class="row container">
  <!-- Parte de 8 columnas -->
  <div class="col s12 ">
    <!-- <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" id="busqueda" name="busqueda" [(ngModel)]="busqueda" (click)="Buscar()">
        <label for="busqueda">Busqueda por nombre</label>
      </div> -->

    <table class="highlight " *ngIf="usuarios != undefined">
      <tr id="titulos" class="center-align">
        <div class="col s2">
          <td>nombre</td>
        </div>
        <div class="col s2">
          <td>correo</td>
        </div>
        <div class="col s2">
          <td>telefono</td>
        </div>
        <div class="col s2">
          <td>rol</td>
        </div>

      </tr>
      <tr *ngFor="let usuario of usuarios">

        <div class="col s2">
          <td>{{ usuario.nombre }}</td>
        </div>
        <div class="col s2 ">
          <td>{{ usuario.correo }}</td>
        </div>
        <div class="col s2">
          <td>{{usuario.telefono}}</td>
        </div>
        <div class="col s2">
          <td>{{usuario.rol}}</td>
        </div>
        <div class="col s2">
          <td id="actualizar">
            <a id="actualizar" (click)="actualizarUsuario(usuario.id)"
              class="waves-effect waves-light blue btn-small ">Actualizar
              <i class="material-icons">create</i>
            </a>
          </td>
        </div>
        <div class="col s2 ">
          <td id="eliminar">
            <a (click)="eliminarUsuario(usuario.id)" class="waves-effect waves-light red btn-small m4">Eliminar
              <i class="material-icons">delete</i>
            </a>
          </td>
        </div>
      </tr>
    </table>
  </div>


</div>



<div id="modalNuevoUsuario" class="modal">
  <div class="modal-content">
    <div class="col s12 m6">
      <!-- Contenido del div de nuevo -->
      <div class="card">
        <div class="card-content">
          <div class="container center">
            <h2>Registro de Usuario</h2>
            <form id="registroForm">
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input [(ngModel)]="usuarioNuevo.nombre" type="text" id="nombreNuevo" name="nombreNuevo" required>
                <label for="nombreNuevo">Nombre</label>
              </div>

              <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input [(ngModel)]="usuarioNuevo.correo" type="email" id="correoNuevo" name="correoNuevo" required>
                <label for="correoNuevo">Correo Electrónico</label>
              </div>

              <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input [(ngModel)]="usuarioNuevo.telefono" type="tel" id="telefonoNuevo" name="telefonoNuevo"
                  pattern="[0-9]{10}" required>
                <label for="telefonoNuevo">Teléfono (10 dígitos)</label>
              </div>

              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input [(ngModel)]="usuarioNuevo.contrasena" type="password" id="passwordNuevo" name="passwordNuevo"
                  required>
                <label for="passwordNuevo">Contraseña</label>
              </div>

              <div class="row">
                <div class="col s6 center">
                  <a (click)="guardarNuevoUsuario()">
                    <button class="waves-effect btn-large red lighten-1 white-text modal-close" type="submit">
                      Registrar
                      <i class="material-icons right">send</i>
                    </button>
                  </a>
                </div>

                <div class="col s6 center">
                  <button class="modal-action modal-close waves-effect btn-large red lighten-1 white-text"
                    type="submit">Registrar
                    <i class="material-icons right">cancel</i>
                  </button>
                </div>
              </div>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modalModificaUsuario" class="modal">
  <div class="modal-content">
    <div class="container">
      <h2 class="center">Modificación de Usuario</h2>
      <form id="modificaForm">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input [(ngModel)]="usuario.nombre" type="text" id="nombre" name="nombre" required>
            <label for="nombre" class="active">Nombre</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input [(ngModel)]="usuario.correo" type="email" id="correo" name="correo" required>
            <label for="correo" class="active">Correo Electrónico</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input [(ngModel)]="usuario.telefono" type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required>
            <label for="telefono" class="active">Teléfono (10 dígitos)</label>
          </div>

          <div class=" col s11 offset-s1">
            <label class="active">Rol</label>
            <select [(ngModel)]="usuario.id_rol" id="rol" name="rol" class="browser-default waves-block s12" >
              <option value="" disabled selected>Escoge un rol</option>
              <option *ngFor="let rol of roles" value="{{rol.id}}" >{{ rol.nombre }}</option>
            </select>
          </div>



        </div>
        <div class="row">
          <div class="col s6 center">
            <a (click)="guardarActualizarUsuario()">
              <button class="waves-effect btn-large red lighten-1 white-text" type="submit">
                Modificar
                <i class="material-icons right">send</i>
              </button>
            </a>
          </div>

          <div class="col s6 center">
            <button class="modal-action modal-close waves-effect btn-large red lighten-1 white-text"
              type="submit">Cancelar
              <i class="material-icons right">cancel</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>