<div class="container">
  <ul *ngIf=" compras != undefined  " >
<!-----------Paginación--------------------------------------------------->
    <ng-container *ngFor="let compra of compras|
    paginate: {
    itemsPerPage: pageSize,
    currentPage: p
    };let i=index">
    <li ><!-- Lista de productos -->
      <div class="row">
        <div class="card horizontal">
          <div class="card-image col s2 " style="padding: 2%;">
            <img src="../../../assets/1_Imagenes/{{compra.nombre}}.jpg" alt="Imagen{{compra.nombre}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">{{compra.nombre}}</span>
            <p>Cantidad de producto:{{compra.cantidad}}</p>
            <p><strong>Precio: ${{compra.monto}}</strong></p>
            <p><strong>Fecha:{{compra.fecha}}</strong></p>
            
            </div>
          </div>
        </div>
      </div>

      
    </li>
    </ng-container>
  </ul>
<!-----------Paginación--------------------------------------------------->
  <div class="row center-align">
    <pagination-controls class="my-pagination" (pageChange)="p = ($event)"
    previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    </div>
</div>
