<a href="javascript: void(0);"><i class="material-icons" (click)="crearOferta()">add</i></a>

<div class="container">

  <table class="default" *ngIf="ofertas != undefined">
    <tr *ngFor="let oferta of ofertas">
    <td>{{oferta.puesto}}</td>
    <td>{{oferta.salario}}</td>
    <td>{{oferta.descripcion}}</td>
    <td>{{oferta.horario}}</td>

    <td><a href="javascript: void(0);" class="space" (click)="actualizarOferta(oferta.idOferta)">
      <i class="material-icons">edit</i></a></td>
      <td><a href="javascript: void(0);" class="material-icons" (click)="eliminarOferta(oferta.idOferta)">
        <i class="material-icons">delete_forever</i></a></td>
      </tr>
  </table>
</div>

