<div class="row">
    <div class="col s3 center">
        <div class="col s12 card">
            <div class="row col s12 center">
                <br>
                <a (click)="eliminaFiltros()">
                    <button class="waves-effect btn-small red lighten-1 white-text " type="submit">
                        {{"Eliminar filtros" | translate}}
                        <i class="material-icons right">delete</i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row col s12 card ">
            <div>
                <h5 class="center">{{"Filtrar por productos" | translate}}</h5>
            </div>
            <div *ngIf="idioma=='1'" class="input-field col s12">
                <select [(ngModel)]="aux" id="producto" name="producto" class="browser-default "
                    (change)="listProducto()">
                    <option value="-1" selected>{{"Todos los productos" | translate}}</option>
                    <option *ngFor="let producto of productos; let i = index" value="{{producto.id}}">{{ producto.nombre_producto }}</option>
                </select>

            </div>
            <div *ngIf="idioma=='2'" class="input-field col s12">
                <select [(ngModel)]="aux" id="producto" name="producto" class="browser-default "
                    (change)="listProducto()">
                    <option value="-1" selected>{{"Todos los productos" | translate}}</option>
                    <option *ngFor="let producto of productos; let i = index" value="{{producto.id}}">{{ producto.name_producto }}</option>
                </select>

            </div>
        </div>
        <div class="col s12 card ">
            <div>
                <h5 class="center">{{"Filtrar por precio de compra" | translate}}</h5>
            </div>
            <div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">money</i>
                    <input [(ngModel)]="compramin" type="number" id="pmin" name="pmin" required>
                    <label for="pmin" class="active">{{"Compra mínima" | translate}}</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">money</i>
                    <input [(ngModel)]="compramax" type="number" id="pmax" name="pmax" required>
                    <label for="pmax" class="active">{{"Compra máxima" | translate}}</label>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a (click)="filtraPrecio()">
                            <button class="waves-effect btn-small red lighten-1 white-text " type="submit">
                                {{"Filtrar" | translate}}
                                <i class="material-icons right">search</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 card">
            <div>
                <h5 class="container">{{"Filtrado por fecha" | translate}}</h5>
            </div>
            <div class="input-field col s12 ">
                <label class="active">{{"Fecha" | translate}}</label>
                <!--input [(ngModel)]="venta.fecha" type="text" id="fechaVenta" #fechaD
                    (change)="actualizarFecha(fechaD.value)" class="datepicker" [value]="venta.fecha" -->

                <input [(ngModel)]="venta.fecha" type="text" id="fechaVenta" #fechaD
                    (click)="actualizarFecha(fechaD.value)" class="datepicker" [value]="venta.fecha" >
            </div>
            <div class=" row col s12 center">
                <a (click)="filtrarFechaYear()">
                    <button class="waves-effect btn-small red lighten-1 white-text " type="submit">
                        {{"Filtrar por año" | translate}}
                        <i class="material-icons right">search</i>
                    </button>
                </a>
            </div>
            <div class="row col s12 center">
                <a (click)="filtrarFechaYearMonth()">
                    <button class="waves-effect btn-small red lighten-1 white-text " type="submit">
                        {{"Filtrar por año y mes" | translate}}
                        <i class="material-icons right">search</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col s9 ">
        <div class="container " *ngIf="Ventatotal!=-1" >
            <div class="card">
                <div class="container ">
                    <h5><strong>{{"Total de veces que se ha comprado el producto:" | translate}}</strong> {{Ventatotal}}</h5>
                    <h5><strong>{{"El total ganado con este producto es:" | translate}}</strong> ${{GananciaTotal}}</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <!-----------Paginación--------------------------------------------------->
            <ul *ngIf="ventas != undefined">
                <li *ngFor="let venta of ventas | 
                    paginate: { 
                        itemsPerPage: pageSize, 
                        currentPage: p 
                    }; let i = index">

                    <div class="row">
                        <div class="card horizontal">
                            <div class="card-image col s2 center " style="padding: 2%;">
                                <!-- <img src="../../../assets/1_Imagenes/{{venta.nombre}}.jpg" alt="Imagen{{venta.nombre}}"> -->
                                <img src="{{liga}}/{{venta.id_producto}}.jpg" alt="{{liga}}/{{venta.id_producto}}.jpg">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span *ngIf="idioma == '1'" class="card-title">{{venta.nombre}}</span>
                                    <span *ngIf="idioma == '2'" class="card-title">{{venta.name}}</span>                                    <p>{{"Cantidad de producto:" | translate}} {{ venta.cantidad }} {{"Kg" | translate}}</p>
                                    <p><strong>{{"Precio:" | translate}} ${{ venta.monto }}</strong></p>
                                    <p><strong>{{"Fecha:" | translate}} {{ venta.fecha }}</strong></p>
                                
                                </div>
                              </div>
                            
                        </div>
                    </div>

                </li>
            </ul>
            <!-----------Paginación--------------------------------------------------->
            <div *ngIf="idioma == 1" class="row center-align">
                <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
            <div *ngIf="idioma == 2" class="row center-align">
                <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Previous"
                    nextLabel="Next">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>