<header>
      <!-- Barra -->
      <nav>
            <div class="nav-wrapper">
                  <a (click)="producto()" class="brand-logo right">
                        <img src="../../../assets/1_Imagenes/9_Logo_Minimalista.png" alt="Logo" class="logo-img">
                  </a>
                  <ul id="nav-mobile" class="">
                        <li [ngClass]="{ 'active': currentPage === 'producto' }"><a (click)="producto()">{{"Productos" |
                                    translate}}<i class="material-icons right">store</i></a></li>
                        <li [ngClass]="{ 'active': currentPage === 'carrito' }"><a (click)="carrito()">{{"Carrito" |
                                    translate}}<i class="material-icons right">shopping_cart</i></a></li>
                        <li [ngClass]="{ 'active': currentPage === 'compra' }"><a (click)="compras()">{{"Compras" |
                                    translate}}<i class="material-icons right">local_mall</i></a></li>
                        <li [ngClass]="{ 'active': currentPage === 'perfil' }"><a (click)="perfil()">{{"Mi perfil" |
                                    translate}}<i class="material-icons right">account_circle</i></a></li>
                        <li *ngIf="aux==3" [ngClass]="{ 'active': currentPage === 'oferta' }"><a
                                    (click)="ofertas()">{{"Ofertas" | translate}}<i
                                          class="material-icons right">local_offer</i></a></li>
                        <li *ngIf="aux==3" [ngClass]="{ 'active': currentPage === 'usuario' }"><a
                                    (click)="usuario()">{{"Usuarios" | translate}}<i
                                          class="material-icons right">account_box</i></a></li>
                        <li *ngIf="aux==3" [ngClass]="{ 'active': currentPage === 'venta' }"><a
                                    (click)="venta()">{{"Ventas" | translate}}<i
                                          class="material-icons right">attach_money</i></a></li>
                        <li><a class="dropdown-trigger" data-target="dropdown_lang">
                                    {{"Idioma" | translate}}: {{obtenerIdioma()}}
                                    <img src="../../../assets/1_Imagenes/{{ obtenerBandera() }}"
                                          alt="{{ idioma === 1 ? 'Español' : 'English' }}"
                                          style="vertical-align: middle;" />
                                    <!-- Muestra la bandera correspondiente -->
                              </a></li>
                        <li class="logout"><a (click)="cerrarSesion()">{{"Cerrar sesión" | translate}}<i
                                          class="material-icons right">exit_to_app</i></a>
                        </li>
                  </ul>
            </div>
      </nav>
      <ul id="dropdown_lang" class="dropdown-content idioma-nav">
            <li (click)="setIdioma(1)" class="language-item"><a><img src="../../../assets/1_Imagenes/mx.png"
                              alt="Español" /> <span>{{"Español" | translate}}</span></a></li>
            <li (click)="setIdioma(2)" class="language-item"><a><img src="../../../assets/1_Imagenes/usa.png"
                              alt="English" /> <span>{{"Inglés" | translate}}</span></a></li>
      </ul>
</header>