.nav-wrapper {
  position: relative;
}

/* Estilos para el elemento activo en la barra de navegación */
.nav-wrapper #nav-mobile li.active {
  background-color: #007bff;
  /* Color de fondo azul */
}

.nav-wrapper #nav-mobile li.active a {
  color: #fff;
  /* Color de texto blanco */
}


.logo-img {
  position: absolute;
  right: 1px;
  /* Ajusta este valor según sea necesario */
  transform: translateY(-5%);
  width: 70px;
  /* Modifica el ancho del logo según sea necesario */
  height: auto;
  /* Establece la altura automática para mantener la proporción */
}

.logout {
  position: absolute;
  right: 80px;
  /* ajusta según sea necesario */
}

#dropdown_lang.dropdown-content.idioma-nav {
  background-color: #007bff; /* Color de fondo de la lista */
}

#dropdown_lang.dropdown-content.idioma-nav li a {
  color: #ffffff; /* Color del texto */
}

#dropdown_lang.dropdown-content.idioma-nav li:hover {
  background-color: #ffffff; /* Cambiar color de fondo al pasar el cursor */
}

#dropdown_lang.dropdown-content.idioma-nav li a:hover {
  color: #000000; /* Cambiar color del texto al pasar el cursor */
}

.language-item a {
  display: flex;
  align-items: center; /* Alinea verticalmente */
}

.language-item img {
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}